.title{
    font-family: monospace;
    background-color:rgb(181, 184, 180);
    text-align: center;
    font-size: 70px;
}.wrap{ 
    border: 1px solid rgb(195, 215, 191);
    margin-bottom: 10px;
    align-items: center;
    padding: 10px;
    background:whitesmoke;
    border-radius: 7px;
    transition:0.3s;
    line-height: 30px;
    font-family: Courier;
}
label{
    display:inline-block;
    width:180px;
}
.wrap:hover{
    background:rgb(242, 240, 240);
    cursor: pointer;
}
.wrap.submit{
    text-align: center;
}